<section id="about">
	<div class="container">
		<div class="text">
			<h2>About</h2>
			<ul class="info">
				<li *ngFor="let item of info">
					<span class="label">{{ item.key }}</span>
					<span class="value">{{ item.value }}</span>
				</li>
			</ul>
			<p>
				I am highly focused, ambitious, and passionate about building excellent
				software that improves the lives of those around me. I specialize in
				creating software for clients ranging from individuals and small
				businesses to enterprise corporations. I have a strong work ethic, am
				hardworking, and with clear objectives to achieve the best of my
				performance every single day. Excited to be at the deployment phase of
				my new career as a Back End Development (the “under the hood” databases
				and infrastructure) and Front End Development (the visible parts of a
				website or app).
				<br /><br />
				I configure relational and non-relational databases, such as PostgreSQL,
				MySQL, MongoDB... I create Back-end applications with database
				connections in GoLang, Python, Java, PHP... using frameworks, such as
				Django, Flask, Fiber, Echo, VertX... I also write applications for daily
				use. To communicate between different services (such as a Server
				application, Database, or Message Broker RabbitMQ), I use Docker. For
				automatic testing of the application, I use CI/CD - Jenkins technology.
				And I send some of my projects to GitHub.
				<br /><br />
				I speak 4 languages and I am currently looking for a challenging and
				interesting work environment where I could take my next career steps and
				enrich my experience.
			</p>
		</div>
	</div>
</section>
