<section id="about">
	<div class="container">
		<div class="text">
			<h2>About</h2>
			<div class="info">
				<ul class="keys">
					<li *ngFor="let item of info"><span class="label">{{ item["key"] }}</span><span>:
							{{ item["value"] }}</span></li>
				</ul>
			</div>
			<p>
			I am Full Stack Developer with 2 years experience. I program adaptive web pages and applications using JavaScript, TypeScript, HTML, C#, Java, Node, Python and Go... I create SPA with Angular, React and Vue. I learned the modern Frameworkds - Django, Express and Laravel. I program my scripts and I use external scripts. I create servers using MVC, MVT and Rest API. I use version control Git and for each project I try to use Docker. Every day I'm working with Linux and console.
			<br><br>
			I always evolve and improve my skills. I want to work in a team. Also, I love my job, so I give it my best.
			</p>
		</div>
	</div>
</section>
