<section id="about">
	<div class="image">
		<img src="/assets/images/img_1.jpeg" alt="photo">
	</div>
	<div class="text">
		<h3>About</h3>
		<div class="info">
			<ul class="keys">
				<li *ngFor="let item of info"><span class="label">{{ item["key"] }}</span><span>: {{ item["value"] }}</span></li>
			</ul>
		</div>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ducimus, aspernatur maxime ipsam ab vel obcaecati, nulla neque fugit nobis ea totam similique quia quae?
		</p>

	</div>
</section>
