section {
	padding: 80px 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: flex-start;
	div.image {
		img {
			display: block;
			width: 90%;
			max-width: 500px;
			margin: 0 auto;
		}
	}
	div.text {
		h3 {
			text-transform: uppercase;
		}
		div.info {
			margin: 20px 0 30px;
			li {
			display: grid;
			grid-template-columns: 60px 1fr;
			grid-gap: 0 20px;
				margin: 10px 0;
			}
		}
	}
}
