<section id="about">
	<div class="container">
		<div class="image">
		<img src="/assets/images/img_1.jpeg" alt="photo">
	</div>
	<div class="text">
		<h3>About</h3>
		<div class="info">
			<ul class="keys">
				<li *ngFor="let item of info"><span class="label">{{ item["key"] }}</span><span>: {{ item["value"] }}</span></li>
			</ul>
		</div>
		<p>
			Yo soy programador con experiencia de 1 año. Yo programo adaptivos páginas web. Programo mis scripts y uso externos. Yo uso las nuevas tecnologías: HTML5 (Pug), CSS3 (Flexbox, Grid, conexión de fuentes, animaciones, Sass/Scss), Bootstrap, JavaScript (ES6), Vue.js (Vue CLI, Vue Component, Vue Router, Vue Formulate), JQuery, Git, Gulp, NodeJS, NPM, PHP (Laravel), consola (Linux), SQL, MySQL comandos.
			<br><br>
			Siempre evoluciono y mejoro mis habilidades, tengo ganas de trabajar en equipo, ademas me gusta mi trabajo, por eso hago la con máxima esfuerza.
		</p>

	</div>
	</div>

</section>
