<section id="about">
	<div class="container">
		<div class="text">
			<h2>About</h2>
			<div class="info">
				<ul class="keys">
					<li *ngFor="let item of info"><span class="label">{{ item["key"] }}</span><span>:
							{{ item["value"] }}</span></li>
				</ul>
			</div>
			<p>
				Hi, I'm Ivan. I'm Full Stack Developer with 2 year of experience. I program adaptive web pages. I program my scripts and use external scripts. I use the new technologies: HTML5 (Pug), CSS3 (Flexbox, Grid, font connection, animations, Sass / Scss), Bootstrap, JavaScript (ES6). I learned frameworks and modern libraries - Vue, Angular, React. I learned version-control - Git (I learned to push, pull, create branches and etc...). I learned design automation-Gulp and Webpack. I've been practicing Docker lately. I create Backend with NodeJS (Express) and Python (Django). And I practice Rest API. I create some applications with Python, Java and C#.
				<br><br>
				I always evolve and improve my skills. I want to work in a team. Also, I love my job, so I give it my best.
			</p>
		</div>
	</div>
</section>
