@font-face {
	src: url("assets/fonts/Roboto-Medium.ttf");
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
}
@font-face {
	src: url("assets/fonts/Roboto-MediumItalic.ttf");
	font-family: "Roboto";
	font-weight: 400;
	font-style: italic;
}
@font-face {
	src: url("assets/fonts/Roboto-Bold.ttf");
	font-family: "Roboto";
	font-weight: 700;
	font-style: normal;
}
@font-face {
	src: url("assets/fonts/Roboto-BoldItalic.ttf");
	font-family: "Roboto";
	font-weight: 700;
	font-style: italic;
}
@font-face {
	src: url("assets/fonts/Roboto-Thin.ttf");
	font-family: "Roboto";
	font-weight: 100;
	font-style: normal;
}
@font-face {
	src: url("assets/fonts/Roboto-ThinItalic.ttf");
	font-family: "Roboto";
	font-weight: 100;
	font-style: italic;
}
