@import "../../variables.scss";

section {
	padding: 80px 0;
	color: $colorMain;
	background-color: $bgSectionSkills;
	> div.container {
		max-width: $maxWidthMain;
		width: 95%;
		margin: 0 auto;
		h2 {
			text-align: center;
			text-transform: uppercase;
		}
		div.skills {
			margin-top: 50px;
			h3 {
				margin-bottom: 20px;
			}
			div.container {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 20px;
				@media screen and (max-width: $screenMaxWidth2) {
					grid-template-columns: 1fr;
				}
				div.elem {
					margin-bottom: 20px;
					display: grid;
					grid-template-rows: 1fr auto;
					div.progress {
						height: 8px;
						background-color: $skilsColorLine;
						border-radius: 10px;
						position: relative;
						div.circle {
							position: absolute;
							height: 18px;
							width: 18px;
							border-radius: 100%;
							background-color: #fff;
							transform: translate(0%, -50%);
							border: 3px solid $skilsColorCircle;
							top: 50%;
							right: 0;
							span {
								position: absolute;
								top: -20px;
								right: 4px;
							}
						}
					}
					h4 {
						margin-left: 8px;
						margin-bottom: 25px;
					}
				}
			}
		}
	}
}
