@import "../variables.scss";

header {
	background-color: $bgHeader;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	div.nav {
		padding: 15px 0;
		max-width: $maxWidthHeader;
		width: 95%;
		margin: 0 auto;
		nav {
			ul {
				display: flex;
				justify-content: stretch;
				> li {
					width: 100%;
					> a {
						text-align: center;
						display: block;
						color: $colorHeader;
						font-weight: 400;
						font-size: 18px;
						padding: 10px 3px;
						transition: color 0.15s ease-in;
						&:hover {
							color: $hoverColorHeader;
						}
					}
				}
			}
		}
	}
}
