@import "../../variables.scss";

section {
	background-image: url("../../../assets/images/home.webp");
	background-position: 50% 50%;
	background-size: cover;
	position: relative;
	div.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
	div.container {
		position: relative;
		padding: 100px 10px 100px;
		max-width: 600px;
		margin: 0 auto;
		color: $colorHome;
		h2 {
			margin: 30px 0;
			b {
				display: block;
				overflow: hidden;
			}
		}
		h3 {
			text-transform: uppercase;
		}
	}
}
