@import "../../variables.scss";

section {
	h2 {
		text-align: center;
	}
	div.study {
		background-image: url("../../../assets/images/background_education.jpg");
		background-size: cover;
		background-position: 50% 50%;
		padding: 60px 0;
		margin-top: 60px;
		position: relative;
		> div.overlay {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.75)
		}
		> div.container {
			max-width: $widthEducation;
			width: 95%;
			margin: 0 auto;
			position: relative;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 20px;
			div.card {
				background-color: $bgEducationCard;
				color: $colorEducationCard;
				padding: 20px 12px;
				row-gap: 10px;
				border: 2px solid $borderEducationCard;
				border-radius: 4px;
				h4 {
					color: $colorEducationTitleCard;
					text-align: center;
					margin-bottom: 30px;
					line-height: 160%;
				}
				span {
					font-weight: 300;
					line-height: 130%;
				}
			}
		}
	}
}
