$bgHeader: #1f2235;
$colorHeader: #fff;
$hoverColorHeader: #ff5151;
$maxWidthHeader: 700px;

$bgMain: transparent;
$colorMain: #212529;
$maxWidthMain: 900px;

$skilsColorLine: #006bd6;
$skilsColorCircle: $skilsColorLine;

$hoverColorContact: rgb(0, 4, 231);

$bgFooter: #1f2235;
$colorFooter: #fff;
$maxWidthFooter: 700px;

$screenMaxWidth1: 800px;
$screenMaxWidth2: 680px;
$screenMaxWidth3: 400px;
